.full {
  color: #663300;
  background-color: #f2f2f2;
  }
.text1 {
  text-align: center;
  font-size: : 30px;
  font-weight: bold;
  padding-bottom: 20px;

}
body {

  font-size: 18px;
  font-family: Ubuntu;
  text-align: justify;
  margin: 20px;
}

p {
  padding-bottom: 10px;
}

li {
  padding-bottom: 10px;
}

h2 {
  font-weight: bold;
}

.boxed {
  border: 1px solid #FFF8DC;
  background-color: #FFF8DC;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;

}

.custom-counter {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.custom-counter li {
  counter-increment: inherit;
  margin-bottom: 10px;
}

.custom-counter li::before {
  content: counter(step-counter);
  margin-right: 10px;
  font-size: 80%;
  background-color: maroon;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 10px;
}

.link-icon {
  font-size: 30px;
}
